<app-navbar></app-navbar>
<!-- Page Content -->
<div class="container-fluid">

   <!-- BODY -->
   <div class="inner-container" >

       <div class="kfds-lyt-column kfds-lyt-center" style="height: 750px;">
           <div class="ds-c-centered-content" data-vertical_center="true" data-vertical_offset="16" style="margin-top: 105.5px;">
               <h1 class="kfds-font-bold text-center-to-left ds-font-bold-900">
                   Todo lo que necesitas para ganar dinero haciendo lo que amas
               </h1><BR>
               <div class="animate m-b animated fade-in-up" data-show="fade-in-up" data-delay="100">
                   <p class="kfds-font-size-28-to-20 kfds-font-clr-dark-op-8 text-center-to-left">
                       ¡Únete a los creadores que ya reciben donaciones, membresías mensuales y compras de los fans en Bolivia!
                   </p>
                   <div class="kfds-top-mrgn-32  kfds-lyt-column kfds-lyt-center">
                       <!-- Claim Form -->
                       <form autocomplete="on" id="sign-up-form" name="sign-up-form" class="kfds-c-claim-wrapper has-validation-callback">
                           <div class="kfds-lyt-between kfds-lyt-width-100">
                               <div class="input-group-prepend kfds-lyt-width-100">
                                   <span class="input-group-text kfds-font-size-20" id="basic-addon3">pastelitos.app/</span>
                                   <input type="text" class="kfds-c-claim-input input-handle" id="txtHandle" aria-describedby="basic-addon3" placeholder="" onfocus="this.placeholder = ''">
                               </div>
                               <button type="button" class="btn btn-primary kfds-c-btn-primary kfds-font-bold kfds-srf-rounded">Registrarse</button>
                           </div>
                       </form>
                       <div class="kfds-font-16-to-14 inline kfds-top-mrgn-16 kfds-font-clr-dark-op-8">
                           <img src="assets/waicato/app00101/img/bolivia.png" width="25px">&nbsp;¡De Bolivianos para Bolivianos!
                       </div>
                   </div>
               </div>
           </div>
           
           <div class="kfds-lyt-width-100 ds-hero-wrapper animated fade-in-up" data-show="fade-in-up" data-delay="200">
               <div class="ds-bg-container"></div>
           </div>
       </div>


       <section class="ds-statement">
           <div class="kfds-lyt-center kfds-lyt-column ds-statement-content" data-vertical_center="true" data-vertical_offset="16" style="margin-top: 235.5px;">
               <h2 class="kfds-font-size-32 kfds-font-bold kfds-font-secondary ds-font-bold-800 text-center">
                   Tomamos el 0% de tus donaciones
               </h2><BR>
               <div class="kfds-lyt-between kfds-lyt-width-100 hidden-sm hidden-xs">
                   <div class="kfds-top-mrgn-16  kfds-lyt-column kfds-lyt-center">
                       <div class="kfds-lyt-row kfds-btm-mrgn-8">
                           <i class="fas fa-star text-clr-gold"></i>
                           <i class="fas fa-star text-clr-gold"></i>
                           <i class="fas fa-star text-clr-gold"></i>
                           <i class="fas fa-star text-clr-gold"></i>
                           <i class="fas fa-star text-clr-gold"></i>
                       </div>
                       <div class="kfds-font-16-to-14 text-center kfds-font-clr-dark-op-8"><i>"Una maravillosa plataforma amigable para los creadores"</i></div>
                   </div>
                   <div class="kfds-top-mrgn-16  kfds-lyt-column kfds-lyt-center">
                       <div class="kfds-lyt-row kfds-btm-mrgn-8">
                           <i class="fas fa-star text-clr-gold"></i>
                           <i class="fas fa-star text-clr-gold"></i>
                           <i class="fas fa-star text-clr-gold"></i>
                           <i class="fas fa-star text-clr-gold"></i>
                           <i class="fas fa-star text-clr-gold"></i>
                       </div>
                       <div class="kfds-font-16-to-14 text-center kfds-font-clr-dark-op-8"><i>"Todo lo que necesito para generar ingresos haciendo lo que amo"</i></div>
                   </div>
                   <div class="kfds-top-mrgn-16  kfds-lyt-column kfds-lyt-center">
                       <div class="kfds-lyt-row kfds-btm-mrgn-8">
                           <i class="fas fa-star text-clr-gold"></i>
                           <i class="fas fa-star text-clr-gold"></i>
                           <i class="fas fa-star text-clr-gold"></i>
                           <i class="fas fa-star text-clr-gold"></i>
                           <i class="fas fa-star text-clr-gold"></i>
                       </div>
                       <div class="kfds-font-16-to-14 text-center kfds-font-clr-dark-op-8"><i>"¡Gana dinero por tu pasión y más!"</i></div>
                   </div>
               </div>
           </div>
           <div class="kfds-lyt-width-100 ds-second-img-wrapper animated fade-in-up" data-show="fade-in-up" data-delay="200">
               <img src="https://storage.ko-fi.com/cdn/landing_assets/kofi_second_heroimg.png" class="kfds-lyt-width-100" alt="Ko-fi Creators">

           </div>
       </section>

   </div>
       
</div>
<!-- End Page Content -->