<div class="sidebar" id="sidebar-wrapper" [ngClass]="isExpanded? 'show' : 'hide'" [ngStyle]="{ 'background-color': TS.sidebar.general.background_color}">

    <div [ngStyle]="{ 'width': TS.sidebar.general.width }"></div>

    <div class="sidebar-logo-wrap" *ngIf="TS.sidebar.logo.show">
        <div class="sidebar-logo d-flex justify-content-center align-items-center">
            <div class="text-center d-flex align-items-center">
                <img [src]="TS.sidebar.logo.admin_logo" [height]="TS.sidebar.logo.admin_logo_height" class="mr-2">&nbsp;
                <span [ngStyle]="{ 'font-size': TS.sidebar.logo.text_size, color: TS.sidebar.logo.text_color, 'text-shadow': TS.sidebar.logo.text_shadow}" style="font-weight: bolder;">{{ TS.sidebar.logo.text }}</span>
            </div>
        </div>
    </div>

    <!-- USER DATA + MENU -->
    <div class="sidebar-container">

        <!-- USER DATA + USER MENU -->
        <div class="user-section text-center d-none d-md-block" *ngIf="auth.auth.authenticated && TS.sidebar.profile.show" >
            <div class="sidebar-user-wrap">
                <div class="sidebar-user-inner">
                    <div class="d-flex" *ngIf="TS.sidebar.profile.show_picture">
                        <div class="thumb-wrap mb-1"><img alt="Usuario" class="img-fluid" src="{{ sessionService.getUserLogged()?.image }}" width="90" height="90"></div>
                    </div>
                    <div class="sidebar-user-info-wrap">
                        <div class="sidebar-user-name" *ngIf="TS.sidebar.profile.show_name">{{ sessionService.getUserLogged()?.nombre }}</div>
                        <div class="sidebar-user-name" *ngIf="TS.sidebar.profile.show_tenant">{{ sessionService.getTenant()?.name }}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SIDEBAR MENU -->
        <ng-scrollbar [ngStyle]="{ 'height': 'calc(100vh - 220px)', 'width': '100%' }" #scrollbar *ngIf="auth.auth.authenticated">
            <div>
                <nav menuToggleDirective class="navigation">
                    <ul class="waicato-nav">
                        <li class="nav-item" menuToggleLink *ngFor="let menuitem of menuItemsClass.getAll()" [ngClass]="{'menu-item-has-child': menuitem.type=='sub'}">

                            <!-- externals -->
                            <a target="_blank" href="{{menuitem.state}}" *ngIf="menuitem.type === 'ext-link'" tourAnchor="tour-ui">
                                <i class="{{ menuitem.icon }} {{ menuitem.color }}"></i><p class="text-nowrap mb-0"><span>{{ menuitem.name }}</span>{{menuitem.label}}</p>
                            </a>

                            <!-- fijos -->
                            <a menuToggle routerLink="/{{menuitem.state}}" routerLinkActive="active-link" *ngIf="menuitem.type === 'link'">
                                <i class="{{ menuitem.icon }} {{ menuitem.color }}" ></i>
                                <p class="text-nowrap mb-0"><span>{{ menuitem.name }}</span></p>
                                <ng-container *ngIf="menuitem.label"><span class="sidebar-label">{{menuitem.label}}</span></ng-container>
                            </a>

                            <!-- prefixo fixed:xxxx -->
                            <a menuToggle [routerLink]="menuitem.state.substring(6, menuitem.state.length)" routerLinkActive="active-link" *ngIf="menuitem.type === 'single' && menuitem.state.startsWith('fixed:')">
                                <i class="{{ menuitem.icon }} {{ menuitem.color }}" ></i>
                                <p class="text-nowrap mb-0"><span>{{ menuitem.name }}</span></p>
                                <ng-container *ngIf="menuitem.label"><span class="sidebar-label">{{menuitem.label}}</span></ng-container>
                            </a>

                            <!-- menú singles -->
                            <a routerLink="{{ menuitem.app?.length > 0 ? '/' + menuitem.app : '' }}/{{menuitem.state}}" routerLinkActive="active-link" *ngIf="menuitem.type === 'single' && !menuitem.state.startsWith('fixed:')" tourAnchor="tour-ui">
                                <i class="{{ menuitem.icon }} {{ menuitem.color }}"></i><p class="text-nowrap mb-0"><span>{{ menuitem.name }}</span>{{menuitem.label}}</p>
                                <ng-container *ngIf="menuitem.name==='Mis Tareas'">
                                    <span class="sidebar-label">&nbsp;{{ 5 }}&nbsp;</span>
                                    <span class="fa fa-circle fa-notify text-warning dot-note" *ngIf="true"></span>
                                    <span class="fa fa-check text-success dot-note" *ngIf="false"></span>
                                </ng-container>
                            </a>

                            <!-- menú padre con hijos -->
                            <a menuToggle href="javascript:void(0)" *ngIf="menuitem.type === 'sub'">
                                <i class="{{ menuitem.icon }} {{ menuitem.color }}"></i>
                                <p class="text-nowrap mb-0"><span>{{ menuitem.name }}</span></p>
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                <ng-container *ngIf="menuitem.label"><span class="sidebar-label">{{menuitem.label}}</span></ng-container>
                            </a>
                            <!-- menú hijo -->
                            <ul class="sub-menu waicato-nav" *ngIf="menuitem.type === 'sub'">
                                <li class="nav-item" menuToggleLink *ngFor="let childitem of menuitem.children" >
                                    <a href="#" [routerLink]="[ (childitem.app?.length > 0 ? '/' + childitem.app : '') + childitem.state]" [queryParams]="this.toJson(childitem.parametros)" routerLinkActive="active-link">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="{{ childitem['icon'] }} {{ childitem.color }}" style="font-size: 0.9rem; margin: 1px"></i>
                                        <p class="text-nowrap mb-0"><span>{{ childitem.name }}</span></p>
                                        <ng-container *ngIf="childitem.label"><span class="sidebar-label">{{childitem.label}}</span></ng-container>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div style="position: absolute; bottom: 20px; width: 100%; text-align: center; color: #f8f9f9" [ngStyle]="{ color: TS.sidebar.footer.color}" [innerHTML]="TS.sidebar.footer.text"></div>
        </ng-scrollbar>

    </div>

</div>