.navbar-expand-lg2 {
    background-color: white !important;
    border-bottom: 1px solid #DEE4E8 !important;
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15) !important;
    padding-left: 1rem !important;
  }
  

.waicato-base-container {
    padding: 0 !important;
}

.circle {
    background-color: #F5F9FB !important;
    border: 1px solid #DEE4E8 !important;
    color: black !important;
}

.dropdown-divider {
    border-top: 1px solid #DEE4E8 !important;
}